@model Hizmet
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Areas/KuaforPaneli/Views/Shared/_Layout.cshtml";
}

<h1>Yeni Hizmet<a href="/KuaforPaneli/Hizmetler" class="float-end btn btn-outline-danger">Geri</a></h1>

<form method="post" asp-area="KuaforPaneli" asp-controller="Hizmetler" asp-action="Ekle">
    <div>
        <label asp-for="Isim"></label>
        <input asp-for="Isim" />
        <span asp-validation-for="Isim"></span>
    </div>
    <div>
        <label asp-for="Ucret"></label>
        <input asp-for="Ucret" />
        <span asp-validation-for="Ucret"></span>
    </div>
    <div>
        <button type="submit" class="bt-success">Ekle</button>
    </div>
</form>